

.select-textures__container {
    z-index: 1;
    position: absolute;
    left: 20px;
    top: 100px;

    display: flex;
    flex-direction: column;
    gap: 8px;
}

.texture-item__container {
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    border: 3px solid #333333;
    border-radius: 4px;

    transition: all 0.1s ease-in-out;
}

.texture-item__container-selected {
    border-color: rgb(87, 85, 206);
}

.texture-item__container img {
    width: 100%;
}

.texture-item__container:hover { 
    transform: scale(1.05);
}